<h1>Day-plan</h1>

{{#each dayPlanFound}}

<div class = "dayplan-card">

<button id= "edit-dayplanId-{{this._id}}">edit Day Plan</button>

<h2>{{this.name}}</h2>
<h4 class='splice-date'>{{this.date}}</h4>

{{#each this.events}}
<p><b>{{this.eventName}}</b></p> 
<p>{{startTime}}</p>
{{/each}}

</div>

{{/each}}
<hr>
<form action="/edit-profile" method="GET">
    <button>Edit profile</button>
</form>
<hr>
<form action="/dayplan/select-date" method="GET">
    <button>Add Dayplan</button>
</form>

<script>
    let dates = document.querySelectorAll('.splice-date');
    const formattedDates = [...dates].map((date) =>{
        return date.innerHTML.split('').splice(0, 15).join('');
    })
    for (let i = 0; i<dates.length;i++) {
        dates[i].innerHTML = formattedDates[i];
    }
</script>