<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<nav class="nav-interior">
    <img src="/images/reduced-logo-white.png" alt="Epic planner logo,E white letter in red background">
   
    <form action="/edit-profile" method="GET">
        <button class="edit-profile-btn">Edit profile</button>
    </form>

</nav>


<div class="home-main-container"></div>
<h1>WHAT'S ON THE AGENDA?</h1>


<div class="dayplan-container">

    {{#if dayPlanFound}}

    {{#each dayPlanFound}}

    <div class="dayplan-card no-display">
        
        <div class="edit-map-btn-container">

            {{#if this.events}}
            <form action='/map' method="GET">
                <input type="hidden" name="dayPlanId" value="{{this._id}}">
                <button class="display-map-btn" id="display-map-{{this._id}}" type="submit"><img src="/../images/map-icon.png"> </button>
            </form>
            {{/if}}
           

        <form action='/dayplan/modify-dayplan' method="GET">
            <input type="hidden" name="dayPlanId" value="{{this._id}}">
            <button class="edit-dayplan-btn" id="edit-dayplanId-{{this._id}}" type="submit"><img src="/../images/edit-icon.png"></button>
        </form>
 </div>


        <h2>{{this.name}}</h2>
        <h3 class='splice-date'>{{this.date}}</h3>


        {{#each this.events}}

        <div class="saved-container">

            <div class="event-text-container">
                <p class="startTime">{{startTime}}h··</p>
                <p><b>{{this.eventName}}</b></p>
            </div>
            <form action='/dayplan/event-details' method="GET">
                <input type="hidden" name="_id" value="{{this.id}}" />
                <input type="hidden" name="sender" value="home" />
                <input type="hidden" name="dayPlanId" value="{{../this._id}}" />
                <button id='event-info-{{this._id}}' class="event-info" type='submit'>info</button>
            </form>
        </div>
        {{/each}}

    </div>
    {{/each}}

    <h2>{{this.name}}</h2>
    <h4 class='splice-date'>{{this.date}}</h4>

    {{#each this.events}}
    <p><b>{{this.eventName}}</b></p>
    <p>{{startTime}}</p>
    <form action='/dayplan/event-details' method="GET">
        <input type="hidden" name="_id" value="{{this.id}}" />
        <input type="hidden" name="sender" value="home" />
        <input type="hidden" name="dayPlanId" value="{{../this._id}}" />
        <button id='event-info-{{this._id}}' class="event-info" type='submit'>info</button>
    </form>


    {{/each}}
    <div class="slider-buttons">
        <button id='slider-left'> < </button> <button id='slider-right'> >
        </button>
    </div>

    {{else}}
    <p>No plans? <br> Start being epic!</p>
    <div class="slider-buttons">  <button id='slider-left' hidden="hidden">
            < </button> <button id='slider-right' hidden="hidden"> >
        </button>
    </div>
    {{/if}}
   
    <div class="add-dayplan-container">
        <form action="/dayplan/select-date" method="GET">
            <button>+ DAY PLAN</button>
        </form>
    </div>
    <script>
        //Format dates
        let dates = document.querySelectorAll('.splice-date');
        const formattedDates = [...dates].map((date) => {
            return date.innerHTML.split('').splice(0, 15).join('');
        })
        for (let i = 0; i < dates.length; i++) {
            dates[i].innerHTML = formattedDates[i];
        }


        //Slider
        const cardsList = document.querySelectorAll('.dayplan-card');
        const cardsArray = [...cardsList];
        cardsArray[0].setAttribute('class', 'dayplan-card dayplan-card-active');

        const sliderLeft = document.querySelector('#slider-left');
        const sliderRight = document.querySelector('#slider-right');

        let nextCard;

        sliderLeft.addEventListener('click', (e) => {
            e.preventDefault();
            const activeCard = document.querySelector('.dayplan-card-active');
            if (cardsArray.indexOf(activeCard) > 0) nextCard = cardsArray.indexOf(activeCard) - 1;
            else nextCard = cardsArray.length - 1;
            console.log(nextCard);
            activeCard.setAttribute('class', 'dayplan-card no-display');
            cardsArray[nextCard].setAttribute('class', 'dayplan-card dayplan-card-active');
        });

        sliderRight.addEventListener('click', (e) => {
            e.preventDefault();
            const activeCard = document.querySelector('.dayplan-card-active');
            if (cardsArray.indexOf(activeCard) < cardsArray.length - 1) nextCard = cardsArray.indexOf(activeCard) + 1;
            else nextCard = 0;
            console.log(nextCard);
            activeCard.setAttribute('class', 'dayplan-card no-display');
            cardsArray[nextCard].setAttribute('class', 'dayplan-card dayplan-card-active');
        });
    </script>

</div>
</div>