<article>

    <h2>{{selectedDate}}</h2>
    <form action="/dayplan/save?_id={{dayPlanId}}" method="POST">
        <label for="name">Name</label>
            <input type="text" name='name' value='{{name}}' required>
        <button>SAVE</button>
    </form>
        <label for="location">Location</label>
        <select name= "location" required> 
        <option value = "Barceloneta">Barceloneta</option>
        <option value = "Forum">Forum</option>
        <option value = "Gracia">Gracia</option>
        <option value = "Horta-Guinardó-">Horta-Guinardó</option>
        <option value = "Les Corts">Les Corts</option>
        <option value = "Poble Nou">Poble Nou</option>
        <option value = "Port Olimpic">Port Olimpic</option>
        <option value = "Port Vell">Port Vell</option>
        <option value = "Sant Andreu">Sant Andreu</option>
        <option value = "Sants">Sants</option>
        <option value = "Sant Martí">Sant Martí</option>
        <option value = "Sarrià-Tibidabo">Sarrià-Tibidabo</option>
    </select>
    <section id='user-keywords'>
        <p>Select your areas of interest</p>
        <label for="music">Music</label>
        <input type= "checkbox" name= "music" id='music-filter'>

        <label for="culture">Culture</label>
        <input type= "checkbox" name= "culture" id='culture-filter'>

        <label for="food">Food</label>
        <input type= "checkbox" name= "food" id='food-filter'>
    </section>
    <section class='ordered-results'>
        {{#if eventsByDate}}
            {{#each eventsByDate}}
        <div class="event-result">
           <div class="event-text-container">
            <h4>{{this.eventName}}</h4>
            <p>{{this.meetupLink}}</p>
            <p>{{this.category}}</p>
           </div> 

           <div class="event-btns-container">
               <button id='add-event-{{this._id}}' class="add-event">+</button>
               <script>
                   var addEventBtn = document.querySelector(`#add-event-{{this._id}}`);
                   addEventBtn.addEventListener('click', async (e) => {
                        e.preventDefault();
                        try {
                            // /dayplan/save?_id={{dayPlanId}}
                            const response = await fetch(`/dayplan/save-event?eventId={{this._id}}&dayPlanId={{../dayPlanId}}`, {
                            method: 'post'
                            });
                            console.log('Saved!', response);
                        }
                        catch(err) {
                            console.error(`Error: ${err}`);
                        }
                      
                   });
               </script>

               <button id=`event-info-{{this._id}}` class="event-info">info</button>
           </div>
            </div>
            {{/each}}
        {{else}}
            <div id='no-events-message'>
                <p>Tourist Go Home!!!</p>
            </div>
        {{/if}}
    </section>
</article>

<script>
    const cultureFilter = document.querySelector('#culture-filter');
    const musicFilter = document.querySelector('#music-filter');
    const foodFilter = document.querySelector('#food-filter');
    musicFilter.addEventListener('change', (e) =>{
        e.preventDefault();
        activateFilters();

    });

    function activateFilters() {
        const events = document.querySelectorAll('.event-result');
        const eventsArray = [...events];
        const music = musicFilter.checked;
        const culture = cultureFilter.checked;
        const food = foodFilter.checked;

        events.forEach((event) => {
            console.log(event.childNodes[1].childNodes[5].innerHTML);
        })
        //[""0""].childNodes[1].childNodes[5].innerHTML
        console.log(music,culture,food);
        console.log(eventsArray);

    }
</script>