<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<article>
    <input type=button onClick="location.href='../'" value='Back'>

    <h2>{{selectedDate}}</h2>
    <div class="dayplan-fields-container">
    <form action="/dayplan/save?_id={{dayPlanId}}" method="POST">
        <label for="name">Dayplan name</label>
        <input type="text" name='name' value='{{dayPlanFound.name}}' required>
        <button class="dayplan-name-save-btn">SAVE</button>
    </form>        
    <section id='user-keywords'>
        <p>Select your areas of interest</p>
        <label for="music">Music</label>
        <input type= "checkbox" name= "music" id='music-filter' checked>

        <label for="culture">Culture</label>
        <input type= "checkbox" name= "culture" id='culture-filter' checked>

        <label for="food">Food</label>
        <input type= "checkbox" name= "food" id='food-filter' checked>
    </section>
    </div>
    <div class="event-results-container">
    <section class='ordered-results'>
        {{#if eventsByDate}}
            {{#each eventsByDate}}
        <div class="event-result">
           <div class="add-event-text-container">
            <h4>{{this.eventName}}</h4>
            <p>{{this.meetupLink}}</p>
            <p>{{this.category}}</p>
           </div> 

           <div class="event-btns-container">
               <button id='add-event-{{this._id}}' class="add-event">+</button>
               <script>
                   var addEventBtn = document.querySelector(`#add-event-{{this._id}}`);

                   addEventBtn.addEventListener('click',  (e) => {
                        e.preventDefault();                                
                        if (e.currentTarget.innerHTML === '+') {                            
                            e.currentTarget.classList.remove("add-event");
                            e.currentTarget.classList.add("delete-event");
                            e.currentTarget.innerHTML = '-';
                            axios.post(`/dayplan/save-event`, 
                            {eventId : `{{this._id}}`, dayPlanId : `{{../dayPlanId}}`  })
                            .then(response => {
                                console.log(`{{this.id}}`)
                            })
                            .catch((err) => {
                                console.log('Error: ',err);                            });
                        }else {
                            e.currentTarget.classList.remove("delete-event");
                            e.currentTarget.classList.add("add-event");
                            e.currentTarget.innerHTML = '+';
                            axios.post(`/dayplan/event-details/delete`, 
                            {eventId : `{{this._id}}`, dayplanId : `{{../dayPlanId}}`  })
                            .then(response => {
                                console.log(`{{this.id}}`)
                            })
                            .catch((err) => {
                                console.log('Error: ',err);                            });
                        }
                        
                      
                   });
               </script>
                <form action='/dayplan/event-details' method="GET"
                >
                <input type="hidden" name="_id" value="{{this.id}}" /> 
                <input type="hidden" name="dayPlanId" value="{{dayPlanId}}">
                <button id='event-info-{{this._id}}' class="event-info" type='submit'>info</button>
                </form>
                             
           </div>
            </div>
            {{/each}}
        {{else}}
            <div id='no-events-message'>
                <p>No events found for today!!!</p>
            </div>
        {{/if}}
    </section>
    </div>

</article>

<script>
    const cultureFilter = document.querySelector('#culture-filter');
    const musicFilter = document.querySelector('#music-filter');
    const foodFilter = document.querySelector('#food-filter');
    musicFilter.addEventListener('change', (e) =>{
        e.preventDefault();
        activateFilters();

    });
    foodFilter.addEventListener('change', (e) =>{
        e.preventDefault();
        activateFilters();

    });
    cultureFilter.addEventListener('change', (e) =>{
        e.preventDefault();
        activateFilters();

    });

    function activateFilters() {
        const events = document.querySelectorAll('.event-result');
        const eventsArray = [...events];
        const music = musicFilter.checked;
        const culture = cultureFilter.checked;
        const food = foodFilter.checked;
        

        // use the classList API to remove and add classes
            //div.classList.remove("foo");
            //div.classList.add("anotherclass");

      //  events.forEach((event) => {
      //      console.log(event.childNodes[1].childNodes[5].innerHTML);
       // })
        for (let i=0;i<eventsArray.length;i++) {
            eventsArray[i].classList.add("no-display");
            if (music && eventsArray[i].childNodes[1].childNodes[5].innerHTML.includes('music')) {
                eventsArray[i].classList.remove("no-display");
            }
            if (culture && eventsArray[i].childNodes[1].childNodes[5].innerHTML.includes('culture')) {
                eventsArray[i].classList.remove("no-display");
            }
            if (food && eventsArray[i].childNodes[1].childNodes[5].innerHTML.includes('food')) {
                eventsArray[i].classList.remove("no-display");
            }

            
        }

        //[""0""].childNodes[1].childNodes[5].innerHTML

    }
</script>